{% extends "layout.html" %} {% block content %}
<section>
  <form
    action="/uploaded"
    id="form_id"
    method="post"
    enctype="multipart/form-data"
    class="w-full"
  >
  <div class="mb-4">
    <input type="submit" class="btn btn-primary" value="Detect" />
  </div>
  <div class="drop-zone">
    <span class="drop-zone__prompt">Drag and Drop your file here</span>
    <input type="file" name="myFile" class="drop-zone__input" />
  </div>
  </form>
</section>

{% endblock content %}
